body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff7675;
    color: white;
    padding: 20px;
    font-size: 1.2em;

    text-align: left;
}

header h1 {
    margin: 0;

    font-size: 16px;
}

header p {
    margin: 10px 0 0 0;

    font-size: 18px;
}

.intro {
    background-color: #eaeaea;
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

bike-info, weather-info, bus-info {
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

bike-info {
    background-color: #b8e994;
}

weather-info {
    background-color: #f9d56e;
}

bus-info {
    background-color: #74b9ff;
}
